body {
  background-image: url("middle.jpg");
  background-size: 100%;
  background-repeat: repeat;
}

div {
  border: 0px solid black;
  font-family: 'Catamaran', sans-serif;
}

.wrapper {
  color: white;
  padding: 60px;

}

.top {
  display: flex;
  justify-content: center;
}

#logo {
  border-radius: 50px;
  border: 0px solid yellow;
}

.navbar {
  display:flex;
  justify-content: space-around;
  font-size: 24px;
}


ul {
  list-style-type: none;
}


li a:hover {
  color: black;
  background-color: red;
  text-decoration: none;
}

.choices {
  text-align: center;
}

.bottompage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  size: 75%; 
}

.contactus, .hours, .socials {
  border: 2px dashed yellow; 
  text-align: center;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
  flex-direction: column;
}

#map, .fab {
  color: white;
}

.dropdown-menu  li  a:hover{
    background-color: red;
    background-image: none;
}

.dropdown-menu  li  a:focus {
    background-color: red;
    background-image: none;
}

.contactcontent {
  display:flex;
  flex-direction: row;
}